[Unit]
Description=Alerts from Alertmanager to Matrix
After=network-online.target

[Service]
Restart=always
DynamicUser=yes
EnvironmentFile=/etc/default/alertmanager_matrix
ExecStart=/usr/local/bin/alertmanager_matrix

[Install]
WantedBy=multi-user.target
