{{ range . }}
**🔇 Silence `{{.ID}}`**{{"  "}}
{{if ne .Status "expired" }}Ends{{else}}Ended{{end}}: {{.EndsAt.Format "2006-01-02 15:04:05 MST"}}{{"  "}}
Matches:`{{.Matchers}}`{{"  "}}
{{ with .Comment }}Comment: {{ . }}{{ end }}

{{end}}
